.div-header {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.div-ul {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  box-sizing: border-box;
  max-width: 550px;
  min-width: 350px;
}
.div-btns-header {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.li-noCard {
  width: 100%;
  height: 100px;
  background-image: url("../../noCard.png");
  background-position: center;
  background-repeat: no-repeat;
}
.no-card-h3 {
  font-size: var(--title2);
  font-weight: 700;
}
@media (min-width: 1150px) {
  .div-header {
    flex-direction: row;
  }
}
