.div-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.div-ul {
  list-style: none;
  min-width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
}

.li-noCard {
  width: 100%;
  height: 100px;
  background-image: url("../../noCard.png");
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 1038px) {
  .div-ul {
    width: 90%;
  }
}
@media (max-width: 565px) {
  .div-header {
    flex-direction: column;
    align-items: flex-start;
  }
}
