.li-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  background-color: var(--color-gray100);
  flex-wrap: wrap;
  cursor: pointer;
  gap: 1rem;
  min-width: 350px;
  position: relative;
}
.li-card p {
  font-size: var(--title3);
  color: var(--color-gray400);
  font-weight: 700;
  text-align: left;
}
.li-card span {
  font-size: var(--title4);
  font-weight: 400;
  color: var(--color-gray400);
}
.li-card:hover {
  background-color: var(--fix-white);
}
.btn-trash {
  background-color: var(--color-gray100);
  background-image: url("../../trash.png");
  background-position: center;
  background-repeat: no-repeat;
  padding: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
}
.btn-trash:hover {
  background-image: url("../../trashwhite.png");
  background-color: var(--color-gray400);
}
.div-type {
  width: 100%;
  text-align: left;
}
.div-type-span {
  height: 95px;
  width: 8px;

  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 0 0 8px;
}
