ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.btn-filters {
  background-color: var(--color-gray200);
  color: var(--color-gray400);
  width: max-content;
}
