.total-container {
  width: 30%;
  padding: 1rem;
  border: 1px solid var(--color-gray200);
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-top: 2rem;
  position: absolute;
  top: 300px;
  gap: 2rem;
}
.total-container h3 {
  width: 70%;
}
.p-total {
  color: var(--color-brand100);
  font-size: var(--font-head);
  font-weight: 700;
}
