@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
:root {
  --color-brand100: #fd377e;
  --color-brand200: #e34981;
  --color-green100: #03b898;

  --color-gray400: #212529;
  --color-gray300: #868e96;
  --color-gray200: #e9ecef;
  --color-gray100: #f8f9fa;
  --fix-white: #ffffff;

  --title1: 1.75rem;
  --title2: 1.5rem;
  --title3: 1.25rem;
  --title4: 0.75rem;

  --font-head: 1rem;
}
.App {
  text-align: center;
  font-family: "Nunito", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--color-gray100);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  background-color: var(--color-brand100);
  color: var(--color-gray100);
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
  cursor: pointer;
  border: none;
  font-weight: 500;
  font-size: var(--font-head);
}
button:hover {
  background-color: var(--color-brand100);
  color: var(--color-gray100);
}
.container {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 2rem;
  position: relative;
  margin-top: 1rem;
  justify-content: space-between;
  padding: 1rem;
}
.container-form {
  width: 30%;
  padding: 2rem;
  border: 1px solid var(--color-gray200);
  border-radius: 0.25rem;
  height: max-content;
  text-align: left;
}
.total-container {
  width: 30%;
  padding: 1rem;
  border: 1px solid var(--color-gray200);
  border-radius: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  margin-top: 2rem;
  position: absolute;
  top: 300px;
  gap: 2rem;
}
@media (max-width: 1232px) {
  .container {
    width: 100vw;
    flex-direction: column;
  }
  .container-form {
    width: 60%;
  }
  .total-container {
    top: -18px;
    right: 50px;
  }
}
@media (max-width: 600px) {
  .total-container {
    right: 30px;
  }
}
