section {
  width: 32%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.section-img {
  background-image: url("../../illustration.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.section-menu h2 {
  width: 50%;
  text-align: left;
}
button {
  width: 35%;
}
h2 {
  font-size: 2.5rem;
}
p {
  font-size: 1rem;
}
